*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.contaner{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.category h2,.product h2{
    text-align: center;
}
.category-content,.product-content{
   width: 20%; 
   text-align: center;
   cursor: pointer;
}
.product{
    margin-top: 50px;
}
img{
    width: 100%;
}
